* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1370b2;

}

body {
    position: relative;
    top: 5px;
    bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    font-size:50px;
    font-weight: bold;
}

h2 {
    border-width: 5px;
    color: white;
    box-shadow: 6px 6px gray;

}
.texte_date {
    color: brown;
}